@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8ed1fc;
    overflow-x: hidden;
}

.vol-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #8ed1fc;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    border-radius: 50%;
    margin-left: 230px;
}

.logo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.menu ul {
    display: flex;
    gap: 40px;
    margin-right: 200px;
    background-color: #8ed1fc;
}

.menu li {
    list-style: none;
    font-weight: bold;
    font-size: large;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: larger;
    padding: 1rem;
    display: block;
    border-radius: 100px;
}

.menu li:hover {
    background-color: #8B735B;
    color: black;
    border-radius: 100px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1100px) {
    .toggle-button {
        display: flex;
    }

    .logo img {
        position: static;
    }

    .menu {
        display: none;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        width: 100%;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }

    .menu li a {
        padding: .5rem 1rem;
    }

    .menu.active {
        display: flex;
        background-color: #8ed1fc;
    }
}


* {
    box-sizing: border-box;
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
}

h2 {
    color: #8B735B;
}

p {
    line-height: 1.5;
}


.vision-section {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    font-weight: 200;
}

.vision-section h2 {
    margin-bottom: 10px;
}

.about-us-section {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    font-weight: 200;
}

.about-us-section h2 {
    margin-bottom: 10px;
}

.about-us-section p {
    line-height: 1.5;
}

.values-section {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    font-weight: 200;
}

.values-section h2 {
    margin-bottom: 10px;
    color: #8B735B;
}

.values-section p {
    line-height: 1.5;
}

.partnerships-section {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    font-weight: 200;
}

.partnerships-section h2 {
    margin-bottom: 10px;
    color: #8B735B;
}

.partnerships-section p {
    line-height: 1.5;
}

.fluffy-barn-info {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 200;
    color: #fff;
}

.fluffy-barn-info h2 {
    margin-bottom: 10px;
}

.fluffy-barn-info p {
    line-height: 1.5;
}

.adoption-section {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    font-weight: 200;
}

.adoption-section h2 {
    margin-bottom: 10px;
    color: #8B735B;
}

.adoption-section p {
    line-height: 1.5;
}

.adoption-section ol,
.adoption-section ul {
    list-style-position: inside;
}

.adoption-section ul {
    padding-left: 20px;
}

.adoption-section li {
    margin-bottom: 5px;
}

.adoption-section ul,
.adoption-section ol {
    margin-top: 10px;
}

.adoption-section li:before {
    font-size: smaller;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.highlight-word {
    color: #8B735B;
    font-weight: bold;
}

.adopt-img {
    height: 595px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
    left: 0;
    top: auto;
}




.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide-button {
    background-color: #8ed1fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
}

.slide-button:hover {
    background-color: #8B735B;
}

.slide-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.slide-button:hover {
    text-decoration: none;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width:300px) {

    .prev,
    .next,
    .text {
        font-size: 11px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}

@media only screen and (max-width:500px) {

    .prev,
    .next,
    .text {
        font-size: 14px;
    }
}


.content {
    padding: 20px;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    border-radius: 25px;
    background-color: #fff;
}


.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #8B735B;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #8B735B;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}



.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #8ed1fc;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.h2-team{
    margin-left: 700px;
    font-size: xxx-large;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.swiper{
    margin-top: 100px;
}

.swiper-navBtn{
    color: #8ed1fc;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-prev{
    left: 0;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}

.donate-section {
    background-color: #8ed1fc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-large;
    font-weight: 200;
}

.donate-section p {
    line-height: 1.5;
}

.donate-section {
    max-width: 800px;
    margin: auto;
}

.donation-message {
    margin-top: 20px;
}

.donation-message p {
    margin-bottom: 20px;
}

.h2-do{
    background-color: #8B735B;
    color: #8ed1fc;
    font-size: x-large;
    text-align: center;
}


.contact{
    background-color: #8B735B;
    padding: 50px;
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #8ed1fc;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #8ed1fc;
}

.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #8B735B;
}

input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #8ed1fc;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #8ed1fc;
}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #8ed1fc;
}

.contact-info p {
    margin-bottom: 10px;
    color: #8ed1fc;
}

.contact-info i{
    color: #8ed1fc;
    margin-right: 10px;
}

@media screen and (max-width: 768px){
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}